extends ../templates/layout

block content
  h1 #{title}: #{item.name}

  if categories.length

    p #[strong Delete the following categories before attempting to delete this item.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Categories

      dl
      each category in categories
        dt
          a(href=category.url) #{category.name}, #{category._id}
        dd #{category.description}

  else
    p Do you really want to delete this Item?

    form(method='POST' action='')
      div.form-group
        input#itemid.form-control(type='hidden', name='itemid', required='true', value=item._id )

      button.btn.btn-primary(type='submit') Delete



