extends ../templates/layout

block content
  if item.categories
    h1 Name: #{item.name}

    p #[strong Categories:]
    ul
      for category in categories
        li
          a(href=category.url) #{category.name}

    p #[strong Description:] #{item.description}
    p #[strong Price:] #{item.price}
    p #[strong Quantity:] #{item.quantity}

    hr
    p
      a(href=item.url+'/delete') Delete item
    p
    a(href=item.url+'/update') Update item
  else
    p No item found

