extends ../templates/layout

block content
  h1= title

  ul
    each item in items
      li
        h3 Item Name: !{item.name}
        h4 Item Price: !{item.price}
        p Description: !{item.description}
        a(href=item.url) View Item
	

    else
      li There are no items.

